@import 'src/app/styles/_global.scss';
.list-items {
    width: 150px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: 0.5s;
}
.list-items:hover {
    background-color: #dadce0 ;
    font-weight: 400;
    transition: 0.35s;
    box-shadow: $shadow_box_inner;
    
}
 