<div class="dropdown-wrapper">


    <div class="btn-wrapper">
        <button class="btn-main" (click)="onOpenMenu()">
        <div class="btn-title">
            {{buttonTitle}}
        </div> 
            <div class="btn-icon">
                <svg class="icon"  xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 0 24 24" width="24px" fill="#000000" *ngIf="!openContent"><path d="M24 24H0V0h24v24z" fill="none" opacity=".87"/><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6-1.41-1.41z"/></svg>
                <svg  class="icon" xmlns="http://www.w3.org/2000/svg" height="12px" viewBox="0 0 24 24" width="24px" fill="#000000" *ngIf="openContent"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 8l-6 6 1.41 1.41L12 10.83l4.59 4.58L18 14l-6-6z"/></svg>
            </div>
        </button>
   
        <div class="dropdown-list" *ngIf="openContent" #dropdown [@openClose]="openContent ? 'open':'close'">
            <div class="dropdown-section" *ngFor="let item of currentArrayRows">
                <cal-dropdown-row [props]=item (activateRow)="onActivateRow($event)"></cal-dropdown-row>
            </div>
           
        </div>
    </div>
</div>    